---
layout: section
who: School
headings:
  - Youth Developement
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      p

        | At the age of 15, rugby starts to really resemble the adult
          game; there are 8-man competitive scrums, full lineouts with
          lifting and players really begin to specialise in their
          position. Instead of short matches in mini tournaments,
          there are single 60 minute + matches in a league format. Due
          to the specialisation and increased physical demands,
          mid-week sessions are introduced at this level and possibly
          at U15 level from next season.

      p

        | An unfortunate quirk of the Belgian youth system is that
          players graduating from one age group inherit the league
          position of their predecessors. Relatively young clubs like
          BBRFC Celtic therefore have to battle their way up the
          divisions over the years. For the U-17s we've made a
          promising start, winning Division 4 in 2010/11 and finishing
          the season strongly in Division 3 last year. When this
          golden generation graduated to U19s, we joined forces with
          the Div 3 winners, BSB who faced a similar situation to form
          a joint BSB-Celtic U17s who currently play in Division
          2. This year we launched our first ever U19s team who are
          having another strong season.

      p

        | Of course a primary goal is to develop talent for our Senior
          team and those who are physically ready are already
          beginning to make impressive debuts.

      p

        | At BBRFC Celtic, motivation comes not from a screaming coach
          (although we're not immune from getting over-excited, sorry
          refs!) but rather from a team ethic, knowing that the
          players around you are giving everything and inspiring you
          to do the same. The coaching philosophy is pragmatic, not
          dogmatic with players being encouraged to play 'heads up
          rugby' based on reacting to the situation as it unfolds and
          not so many pre-emptive set plays. Top players do the basics
          well and under pressure, so at BBRFC Celtic there is a
          strong focus on skills and decision making in game
          situations. Players are encouraged to learn different styles
          of play which can be deployed as the need arises.

      p

        | As we move up the divisions we remain committed to
          individual development. We strongly support the
          representative teams as part of coaching team of the
          provincial Vlaamse Brabant U17s (Zwarte Panters) which has a
          strong BBRFC Celtic contingent. From there players progress
          to the regional Flemish team before the Belgian national
          teams. At least for now, players ready for national team
          tend to transfer to Div 1 teams, not least to ensure regular
          exposure to high quality opposition. At BBRFC Celtic we are
          not afraid of this and encourage players to be
          ambititous. BBRFC Celtic is a great place to start your
          rugby journey, which can take you wherever you want it to.

      p

        | Our recruitment of players is diverse ranging from the local
          belgian schools, our neighbouring european school and the
          other 4 EEBs, BICS, ISB. BBRFC Celtic is a social, friendly
          club and players mix regardless of their school
          background. The highlight of our social calendar is our
          annual end of season tour. Unlike the senior tour where
          players from a strong rugby culture descend on a rugby
          backwater and still get beaten (in fairness often with a
          somewhat impaired prowess), our goal beyond team bonding is
          to go to a rugby heartland to immerse the group in a rugby
          tradition. Our inaugural tour was to the East Midlands, UK
          in 2011 and last year to South West, France. Not to be
          missed!

      p

        | As is the nature of an international city, all too often
          players move on to pastures new. However, we like to think
          that is not an excuse to avoid putting down roots, because
          wherever you are in the world, rugby has given you a
          passport to fun and friendship... and you'll always be a BC!
