---
layout: section
who: School
headings:
  - Joining
  - Forms
  - Fees
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      p

        | If you would like to give us a try just turn up to any of
          our training sessions and introduce yourself to the coaches
          present. All you need to try out is a pair of rugby boots or
          trainers, shorts and a T-Shirt or jersey. Note that because
          we play on a high tech artificial pitch only plastic studs
          may be used (no metal studs).

      p

        | The first three training sessions are free, so why not drop
          in & give us a go? Chances are you'll be back......



      = create_heading

      p

        | There are two forms that must be completed and for those who
          forget or are not aware that we are in Belgium or are part
          of the Vlaamse Rugby Bond the answer is: NO, these forms are
          not in English or French!

      = partial 'section-info/forms'

      p

        | The first form is the Registration Form and must be
          completed carefully and signed and dated by your parents if
          you are 16 or younger. (If you do not yet have a Belgian ID
          then fill in your foreign ID or Passport information where
          required). Please fill in the club name where
          required.

      p

        | The second form is the Medical Form and this is partially
          filled out by yourself and the bottom left of it is
          completed by your doctor who must sign and stamp the part
          he/she completes. The medical examination should cost you
          less than 30 and take 5-10 minutes maximum!


      p

        | Once you have completed both the forms then please return
          the originals to the coach or the rugby school director. We
          will get you a license. The license entitles you to FBRB
          insurance AND authorizes you to play in all FBRB sanctioned
          matches.

      = create_heading

      = partial "section-info/school-fees"
