---
layout: section
who: School
headings:
  - Joining
  - Forms
  - Fees
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      strong

        | The first 3 training sessions are free . After that you will
          need to turn in your registration form, medical form, and
          pay your dues!


      = create_heading

      p

        | There are two forms that must be completed and for those who
          forget or are not aware that we are in Belgium or are part
          of the Vlaamse Rugby Bond the answer is: NO, these forms are
          not in English or French!

      = partial 'section-info/forms'

      p

        | The first form is the Registration Form and must be
          completed carefully and signed and dated by your parents if
          you are 16 or younger. (If you do not yet have a Belgian ID
          then fill in your foreign ID or Passport information where
          required). Please fill in the club name where
          required.

      p

        | The second form is the Medical Form and this is partially
          filled out by yourself and the bottom left of it is
          completed by your doctor who must sign and stamp the part
          he/she completes. The medical examination should cost you
          less than 30 and take 5-10 minutes maximum!


      p

        | Once you have completed both the forms then please return
          the originals to the coach or the rugby school director. We
          will get you a license. The license entitles you to FBRB
          insurance AND authorizes you to play in all FBRB sanctioned
          matches.

      = create_heading

      = partial "section-info/school-fees"
