$bc-red: #d9272d
$bc-green: #00994C
$bc-blue: #012956

/* General purpose colour palette
$rock-blue: #9CAAC6
$orange-peel: #ff9e00
$guard-red: #ce0000
$atlantis: #9ccf31
$full-blue: #3a87ad

@import customVariables

@import bootstrap

/* Order is important
@import components/base
@import components/containers
@import components/navbar
@import components/banner
@import components/calendar
@import components/buttons
@import components/footer
@import components/forms
@import components/tables
@import components/panels
@import components/sponsors
