<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
		<th>Club</th>
		<th>Points</th>
		<th>Bonus</th>
		<th>Total</th>
	  <th>Played</th>
	  <th>Win</th>
	  <th>Draw</th>
		<th>Lose</th>
		<th>Forf.</th>
	  <th>Scored</th>
	  <th>Conceded</th>

  </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 </td>
        <td>Arendonk </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>De Fonskes (Leuven) </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Haspinga </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Laakdal 2 </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Maasland </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Schilde 2 </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>