<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
		<th>Club</th>
		<th>Points</th>
		<th>Bonus</th>
		<th>Total</th>
	  <th>Played</th>
	  <th>Win</th>
	  <th>Draw</th>
		<th>Lose</th>
		<th>Forf.</th>
	  <th>Scored</th>
	  <th>Conceded</th>

  </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 </td>
        <td>Meetjesland </td>
        <td>12 </td>
        <td>4 </td>
        <td>
          <b>16 </b>
        </td>
        <td>4 </td>
        <td>3 </td>
        <td>0 </td>
        <td>1 </td>
        <td> </td>
        <td>180 </td>
        <td>65 </td>
      </tr>
      <tr>
        <td>2 </td>
        <td>Gent Dragons </td>
        <td>10 </td>
        <td>2 </td>
        <td>
          <b>12 </b>
        </td>
        <td>4 </td>
        <td>3 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td>89 </td>
        <td>64 </td>
      </tr>
      <tr class="ourClub">
        <td>3 </td>
        <td>BC Expendables </td>
        <td>8 </td>
        <td>2 </td>
        <td>
          <b>10 </b>
        </td>
        <td>4 </td>
        <td>2 </td>
        <td>0 </td>
        <td>2 </td>
        <td> </td>
        <td>83 </td>
        <td>100 </td>
      </tr>
      <tr>
        <td>4 </td>
        <td>Mighty Roosters </td>
        <td>4 </td>
        <td>2 </td>
        <td>
          <b>6 </b>
        </td>
        <td>4 </td>
        <td>1 </td>
        <td>0 </td>
        <td>3 </td>
        <td> </td>
        <td>77 </td>
        <td>165 </td>
      </tr>
      <tr>
        <td>5 </td>
        <td>Mechelen 2 </td>
        <td>4 </td>
        <td>1 </td>
        <td>
          <b>5 </b>
        </td>
        <td>4 </td>
        <td>1 </td>
        <td>0 </td>
        <td>3 </td>
        <td> </td>
        <td>126 </td>
        <td>161 </td>
      </tr>
      <tr>
        <td>6 </td>
        <td>[Bye] </td>
        <td>0 </td>
        <td> </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>