<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
		<th>Club</th>
		<th>Points</th>
		<th>Bonus</th>
		<th>Total</th>
	  <th>Played</th>
	  <th>Win</th>
	  <th>Draw</th>
		<th>Lose</th>
		<th>Forf.</th>
	  <th>Scored</th>
	  <th>Conceded</th>

  </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 </td>
        <td>Brugge </td>
        <td>16 </td>
        <td>4 </td>
        <td>
          <b>20 </b>
        </td>
        <td>4 </td>
        <td>4 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td>222 </td>
        <td>31 </td>
      </tr>
      <tr>
        <td>2 </td>
        <td>RC Hamme </td>
        <td>16 </td>
        <td>1 </td>
        <td>
          <b>17 </b>
        </td>
        <td>4 </td>
        <td>4 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td>80 </td>
        <td>34 </td>
      </tr>
      <tr>
        <td>3 </td>
        <td>Waregem </td>
        <td>12 </td>
        <td>1 </td>
        <td>
          <b>13 </b>
        </td>
        <td>4 </td>
        <td>3 </td>
        <td>0 </td>
        <td>1 </td>
        <td> </td>
        <td>88 </td>
        <td>85 </td>
      </tr>
      <tr>
        <td>4 </td>
        <td>Kortrijk </td>
        <td>10 </td>
        <td>2 </td>
        <td>
          <b>12 </b>
        </td>
        <td>4 </td>
        <td>2 </td>
        <td>1 </td>
        <td>1 </td>
        <td> </td>
        <td>104 </td>
        <td>59 </td>
      </tr>
      <tr>
        <td>5 </td>
        <td>RRC Pajot </td>
        <td>6 </td>
        <td>4 </td>
        <td>
          <b>10 </b>
        </td>
        <td>4 </td>
        <td>1 </td>
        <td>1 </td>
        <td>2 </td>
        <td> </td>
        <td>97 </td>
        <td>81 </td>
      </tr>
      <tr>
        <td>6 </td>
        <td>Brigandze </td>
        <td>4 </td>
        <td>2 </td>
        <td>
          <b>6 </b>
        </td>
        <td>4 </td>
        <td>1 </td>
        <td>0 </td>
        <td>3 </td>
        <td> </td>
        <td>53 </td>
        <td>60 </td>
      </tr>
      <tr class="ourClub">
        <td>7 </td>
        <td>BBRFC Celtic 2 </td>
        <td>4 </td>
        <td>1 </td>
        <td>
          <b>5 </b>
        </td>
        <td>3 </td>
        <td>1 </td>
        <td>0 </td>
        <td>2 </td>
        <td> </td>
        <td>68 </td>
        <td>65 </td>
      </tr>
      <tr>
        <td> </td>
        <td>Hasselt </td>
        <td>4 </td>
        <td>1 </td>
        <td>
          <b>5 </b>
        </td>
        <td>4 </td>
        <td>1 </td>
        <td>0 </td>
        <td>3 </td>
        <td> </td>
        <td>29 </td>
        <td>90 </td>
      </tr>
      <tr>
        <td>9 </td>
        <td>RC9 </td>
        <td>4 </td>
        <td>0 </td>
        <td>
          <b>4 </b>
        </td>
        <td>3 </td>
        <td>1 </td>
        <td>0 </td>
        <td>2 </td>
        <td> </td>
        <td>23 </td>
        <td>155 </td>
      </tr>
      <tr>
        <td>10 </td>
        <td>Lommel </td>
        <td>-2 </td>
        <td>0 </td>
        <td>
          <b>-2 </b>
        </td>
        <td>4 </td>
        <td>0 </td>
        <td>0 </td>
        <td>3 </td>
        <td> </td>
        <td>25 </td>
        <td>129 </td>
      </tr>
    </tbody>
  </table>
</div>