<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr><td>1</td>
				<td>RC MONS</td>
				<td>9</td>
				<td>2</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>45</td>
				<td>14</td>
				<td>31</td>
				<td>1</td>
			</tr><tr><td>2</td>
				<td>RC SCHILDE</td>
				<td>5</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>1</td>
				<td>59</td>
				<td>38</td>
				<td>21</td>
				<td>1</td>
			</tr><tr><td>3</td>
				<td>NAMUR XV</td>
				<td>5</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>1</td>
				<td>19</td>
				<td>23</td>
				<td>-4</td>
				<td>1</td>
			</tr><tr><td>4</td>
				<td>GENT RFC</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>0</td>
				<td>0</td>
				<td>20</td>
				<td>5</td>
				<td>15</td>
				<td>0</td>
			</tr><tr><td>5</td>
				<td>KIBUBU RUGBY</td>
				<td>3</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>1</td>
				<td>21</td>
				<td>23</td>
				<td>-2</td>
				<td>1</td>
			</tr><tr><td>6</td>
				<td>RUGBY MECHELEN</td>
				<td>2</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>1</td>
				<td>18</td>
				<td>43</td>
				<td>-25</td>
				<td>0</td>
			</tr><tr class="ourClub"><td>7</td>
				<td>BBRFC CELTIC</td>
				<td>0</td>
				<td>1</td>
				<td>0</td>
				<td>0</td>
				<td>1</td>
				<td>18</td>
				<td>54</td>
				<td>-36</td>
				<td>0</td>
			</tr></tbody></table>
</div>