<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
		<th>Club</th>
		<th>Points</th>
		<th>Bonus</th>
		<th>Total</th>
	  <th>Played</th>
	  <th>Win</th>
	  <th>Draw</th>
		<th>Lose</th>
		<th>Forf.</th>
	  <th>Scored</th>
	  <th>Conceded</th>

  </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 </td>
        <td>Brugge </td>
        <td>24 </td>
        <td>6 </td>
        <td>
          <b>30 </b>
        </td>
        <td>6 </td>
        <td>6 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td>352 </td>
        <td>34 </td>
      </tr>
      <tr>
        <td>2 </td>
        <td>RRC Pajot </td>
        <td>14 </td>
        <td>6 </td>
        <td>
          <b>20 </b>
        </td>
        <td>6 </td>
        <td>3 </td>
        <td>1 </td>
        <td>2 </td>
        <td> </td>
        <td>196 </td>
        <td>88 </td>
      </tr>
      <tr>
        <td>3 </td>
        <td>Waregem </td>
        <td>16 </td>
        <td>2 </td>
        <td>
          <b>18 </b>
        </td>
        <td>5 </td>
        <td>4 </td>
        <td>0 </td>
        <td>1 </td>
        <td> </td>
        <td>108 </td>
        <td>85 </td>
      </tr>
      <tr>
        <td>4 </td>
        <td>Kortrijk </td>
        <td>14 </td>
        <td>3 </td>
        <td>
          <b>17 </b>
        </td>
        <td>5 </td>
        <td>3 </td>
        <td>1 </td>
        <td>1 </td>
        <td> </td>
        <td>166 </td>
        <td>64 </td>
      </tr>
      <tr>
        <td> </td>
        <td>RC Hamme </td>
        <td>16 </td>
        <td>1 </td>
        <td>
          <b>17 </b>
        </td>
        <td>5 </td>
        <td>4 </td>
        <td>0 </td>
        <td>1 </td>
        <td> </td>
        <td>80 </td>
        <td>54 </td>
      </tr>
      <tr>
        <td>6 </td>
        <td>Brigandze </td>
        <td>8 </td>
        <td>2 </td>
        <td>
          <b>10 </b>
        </td>
        <td>6 </td>
        <td>2 </td>
        <td>0 </td>
        <td>4 </td>
        <td> </td>
        <td>74 </td>
        <td>143 </td>
      </tr>
      <tr class="ourClub">
        <td> </td>
        <td>BBRFC Celtic 2 </td>
        <td>8 </td>
        <td>2 </td>
        <td>
          <b>10 </b>
        </td>
        <td>5 </td>
        <td>2 </td>
        <td>0 </td>
        <td>3 </td>
        <td> </td>
        <td>104 </td>
        <td>96 </td>
      </tr>
      <tr>
        <td>8 </td>
        <td>RC9 </td>
        <td>4 </td>
        <td>1 </td>
        <td>
          <b>5 </b>
        </td>
        <td>5 </td>
        <td>1 </td>
        <td>0 </td>
        <td>4 </td>
        <td> </td>
        <td>33 </td>
        <td>230 </td>
      </tr>
      <tr>
        <td> </td>
        <td>Hasselt </td>
        <td>4 </td>
        <td>1 </td>
        <td>
          <b>5 </b>
        </td>
        <td>6 </td>
        <td>1 </td>
        <td>0 </td>
        <td>5 </td>
        <td> </td>
        <td>39 </td>
        <td>197 </td>
      </tr>
      <tr>
        <td>10 </td>
        <td>Lommel </td>
        <td>-2 </td>
        <td>0 </td>
        <td>
          <b>-2 </b>
        </td>
        <td>5 </td>
        <td>0 </td>
        <td>0 </td>
        <td>4 </td>
        <td> </td>
        <td>30 </td>
        <td>191 </td>
      </tr>
    </tbody>
  </table>
</div>