<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr><td>1</td>
				<td>GENT RFC</td>
				<td>21</td>
				<td>5</td>
				<td>5</td>
				<td>0</td>
				<td>0</td>
				<td>93</td>
				<td>46</td>
				<td>47</td>
				<td>1</td>
			</tr><tr><td>2</td>
				<td>RC MONS</td>
				<td>20</td>
				<td>6</td>
				<td>4</td>
				<td>0</td>
				<td>2</td>
				<td>146</td>
				<td>83</td>
				<td>63</td>
				<td>4</td>
			</tr><tr><td>3</td>
				<td>RC SCHILDE</td>
				<td>18</td>
				<td>5</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>154</td>
				<td>77</td>
				<td>77</td>
				<td>4</td>
			</tr><tr><td>4</td>
				<td>NAMUR XV</td>
				<td>17</td>
				<td>5</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>109</td>
				<td>87</td>
				<td>22</td>
				<td>3</td>
			</tr><tr><td>5</td>
				<td>KIBUBU RUGBY</td>
				<td>8</td>
				<td>5</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>66</td>
				<td>87</td>
				<td>-21</td>
				<td>2</td>
			</tr><tr><td>6</td>
				<td>RUGBY MECHELEN</td>
				<td>3</td>
				<td>5</td>
				<td>0</td>
				<td>1</td>
				<td>4</td>
				<td>44</td>
				<td>128</td>
				<td>-84</td>
				<td>1</td>
			</tr><tr class="ourClub"><td>7</td>
				<td>BBRFC CELTIC</td>
				<td>2</td>
				<td>5</td>
				<td>0</td>
				<td>0</td>
				<td>5</td>
				<td>56</td>
				<td>160</td>
				<td>-104</td>
				<td>2</td>
			</tr></tbody></table>
</div>