<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
		<th>Club</th>
		<th>Points</th>
		<th>Bonus</th>
		<th>Total</th>
	  <th>Played</th>
	  <th>Win</th>
	  <th>Draw</th>
		<th>Lose</th>
		<th>Forf.</th>
	  <th>Scored</th>
	  <th>Conceded</th>

  </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 </td>
        <td>BBRFC Celtic 2 </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Brigandze </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Brugge </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Hasselt </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Kortrijk </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Lommel </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>RC Hamme </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>RC9 </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>RRC Pajot </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Waregem </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>