<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
		<th>Club</th>
		<th>Points</th>
		<th>Bonus</th>
		<th>Total</th>
	  <th>Played</th>
	  <th>Win</th>
	  <th>Draw</th>
		<th>Lose</th>
		<th>Forf.</th>
	  <th>Scored</th>
	  <th>Conceded</th>

  </tr>
    </thead>
    <tbody>
      <tr class="ourClub">
        <td>1 </td>
        <td>BC Expendables </td>
        <td>8 </td>
        <td>2 </td>
        <td>
          <b>10 </b>
        </td>
        <td>2 </td>
        <td>2 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td>66 </td>
        <td>36 </td>
      </tr>
      <tr>
        <td>2 </td>
        <td>Meetjesland </td>
        <td>4 </td>
        <td>2 </td>
        <td>
          <b>6 </b>
        </td>
        <td>2 </td>
        <td>1 </td>
        <td>0 </td>
        <td>1 </td>
        <td> </td>
        <td>102 </td>
        <td>36 </td>
      </tr>
      <tr>
        <td> </td>
        <td>Mighty Roosters </td>
        <td>4 </td>
        <td>2 </td>
        <td>
          <b>6 </b>
        </td>
        <td>2 </td>
        <td>1 </td>
        <td>0 </td>
        <td>1 </td>
        <td> </td>
        <td>51 </td>
        <td>37 </td>
      </tr>
      <tr>
        <td>4 </td>
        <td>Gent Dragons </td>
        <td>2 </td>
        <td>1 </td>
        <td>
          <b>3 </b>
        </td>
        <td>2 </td>
        <td>1 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td>29 </td>
        <td>47 </td>
      </tr>
      <tr>
        <td>5 </td>
        <td>Mechelen 2 </td>
        <td>0 </td>
        <td>0 </td>
        <td>
          <b>0 </b>
        </td>
        <td>2 </td>
        <td>0 </td>
        <td>0 </td>
        <td>2 </td>
        <td> </td>
        <td>17 </td>
        <td>109 </td>
      </tr>
      <tr>
        <td> </td>
        <td>[Bye] </td>
        <td>0 </td>
        <td> </td>
        <td>
          <b>0 </b>
        </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td>0 </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>