<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>#</th>
<th>Club</th>
<th>Points</th>
<th>Played</th>
<th>Win</th>
<th>Draw</th>
<th>Lose</th>
<th>BP </th>
<th>BC </th>
<th>Diff. </th>
<th/></tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>BBRFC Celtic</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>2</td>
        <td>Gent</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>3</td>
        <td>Kibubu</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>4</td>
        <td>Laakdal</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>5</td>
        <td>Mechelen</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>6</td>
        <td>Mons</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>7</td>
        <td>Namur</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
      <tr>
        <td>8</td>
        <td>Schilde</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td/>
      </tr>
    </tbody>
  </table>
</div>