<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr><td>1</td>
				<td>R KITURO RFC1</td>
				<td>12</td>
				<td>3</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>46</td>
				<td>10</td>
				<td>36</td>
				<td>2</td>
			</tr><tr><td>2</td>
				<td>WALFERDANDE RC</td>
				<td>11</td>
				<td>3</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>74</td>
				<td>12</td>
				<td>62</td>
				<td>1</td>
			</tr><tr><td>3</td>
				<td>RC SCHILDE</td>
				<td>10</td>
				<td>3</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>71</td>
				<td>34</td>
				<td>37</td>
				<td>2</td>
			</tr><tr><td>4</td>
				<td>RC9 HEUSDEN ZOLDER</td>
				<td>10</td>
				<td>3</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>54</td>
				<td>34</td>
				<td>20</td>
				<td>2</td>
			</tr><tr><td>5</td>
				<td>RHINOS OUDENAARDE</td>
				<td>10</td>
				<td>3</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>54</td>
				<td>51</td>
				<td>3</td>
				<td>2</td>
			</tr><tr><td>6</td>
				<td>RC HAMME</td>
				<td>4</td>
				<td>3</td>
				<td>1</td>
				<td>0</td>
				<td>2</td>
				<td>29</td>
				<td>77</td>
				<td>-48</td>
				<td>0</td>
			</tr><tr><td>7</td>
				<td>RC MONS</td>
				<td>0</td>
				<td>3</td>
				<td>0</td>
				<td>0</td>
				<td>3</td>
				<td>20</td>
				<td>62</td>
				<td>-42</td>
				<td>0</td>
			</tr><tr class="ourClub"><td>8</td>
				<td>BBRFC CELTIC</td>
				<td>0</td>
				<td>3</td>
				<td>0</td>
				<td>0</td>
				<td>3</td>
				<td>24</td>
				<td>92</td>
				<td>-68</td>
				<td>0</td>
			</tr></tbody></table>
</div>