<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr><td>1</td>
				<td>R KITURO RFC1</td>
				<td>57</td>
				<td>13</td>
				<td>11</td>
				<td>1</td>
				<td>1</td>
				<td>400</td>
				<td>46</td>
				<td>354</td>
				<td>11</td>
			</tr><tr><td>2</td>
				<td>WALFERDANDE RC</td>
				<td>51</td>
				<td>13</td>
				<td>10</td>
				<td>1</td>
				<td>2</td>
				<td>425</td>
				<td>98</td>
				<td>327</td>
				<td>9</td>
			</tr><tr><td>3</td>
				<td>RC9 HEUSDEN ZOLDER</td>
				<td>41</td>
				<td>13</td>
				<td>9</td>
				<td>0</td>
				<td>4</td>
				<td>220</td>
				<td>271</td>
				<td>-51</td>
				<td>5</td>
			</tr><tr><td>4</td>
				<td>RC MONS</td>
				<td>23</td>
				<td>13</td>
				<td>5</td>
				<td>0</td>
				<td>8</td>
				<td>198</td>
				<td>214</td>
				<td>-16</td>
				<td>3</td>
			</tr><tr class="ourClub"><td>5</td>
				<td>BBRFC CELTIC</td>
				<td>23</td>
				<td>13</td>
				<td>5</td>
				<td>0</td>
				<td>8</td>
				<td>198</td>
				<td>293</td>
				<td>-95</td>
				<td>3</td>
			</tr><tr><td>6</td>
				<td>RHINOS OUDENAARDE</td>
				<td>23</td>
				<td>13</td>
				<td>5</td>
				<td>0</td>
				<td>8</td>
				<td>128</td>
				<td>363</td>
				<td>-235</td>
				<td>3</td>
			</tr><tr><td>7</td>
				<td>RC SCHILDE</td>
				<td>19</td>
				<td>13</td>
				<td>3</td>
				<td>0</td>
				<td>10</td>
				<td>182</td>
				<td>371</td>
				<td>-189</td>
				<td>7</td>
			</tr><tr><td>8</td>
				<td>RC HAMME</td>
				<td>18</td>
				<td>13</td>
				<td>3</td>
				<td>0</td>
				<td>10</td>
				<td>137</td>
				<td>232</td>
				<td>-95</td>
				<td>6</td>
			</tr></tbody></table>
</div>