<div class="table-responsive">
  <table class="table table-striped">
	<thead><tr><th>#</th>
			<th>Club</th>
			<th>Points</th>
			<th>Played</th>
			<th>Win</th>
			<th>Draw</th>
			<th>Lose</th>
			<th>Scored</th>
			<th>Conceded</th>
			<th>Diff.</th>
			<th>Bonus</th>
		</tr></thead><tbody><tr><td>1</td>
				<td>R KITURO RFC1</td>
				<td>48</td>
				<td>11</td>
				<td>9</td>
				<td>1</td>
				<td>1</td>
				<td>315</td>
				<td>36</td>
				<td>279</td>
				<td>10</td>
			</tr><tr><td>2</td>
				<td>WALFERDANDE RC</td>
				<td>41</td>
				<td>11</td>
				<td>8</td>
				<td>1</td>
				<td>2</td>
				<td>330</td>
				<td>76</td>
				<td>254</td>
				<td>7</td>
			</tr><tr><td>3</td>
				<td>RC9 HEUSDEN ZOLDER</td>
				<td>41</td>
				<td>11</td>
				<td>9</td>
				<td>0</td>
				<td>2</td>
				<td>220</td>
				<td>148</td>
				<td>72</td>
				<td>5</td>
			</tr><tr><td>4</td>
				<td>RHINOS OUDENAARDE</td>
				<td>19</td>
				<td>11</td>
				<td>4</td>
				<td>0</td>
				<td>7</td>
				<td>104</td>
				<td>278</td>
				<td>-174</td>
				<td>3</td>
			</tr><tr><td>5</td>
				<td>RC MONS</td>
				<td>18</td>
				<td>11</td>
				<td>4</td>
				<td>0</td>
				<td>7</td>
				<td>116</td>
				<td>185</td>
				<td>-69</td>
				<td>2</td>
			</tr><tr><td>6</td>
				<td>RC HAMME</td>
				<td>17</td>
				<td>11</td>
				<td>3</td>
				<td>0</td>
				<td>8</td>
				<td>117</td>
				<td>198</td>
				<td>-81</td>
				<td>5</td>
			</tr><tr><td>7</td>
				<td>RC SCHILDE</td>
				<td>17</td>
				<td>11</td>
				<td>3</td>
				<td>0</td>
				<td>8</td>
				<td>150</td>
				<td>314</td>
				<td>-164</td>
				<td>5</td>
			</tr><tr class="ourClub"><td>8</td>
				<td>BBRFC CELTIC</td>
				<td>14</td>
				<td>11</td>
				<td>3</td>
				<td>0</td>
				<td>8</td>
				<td>159</td>
				<td>276</td>
				<td>-117</td>
				<td>2</td>
			</tr></tbody></table>
</div>