---
layout: section
who: More
headings:
  - The Creation of BBRFC Celtic
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      p

        | In the spring of 2014, preliminary talks took place between
          the officials of BBRFC and Brussels Celtic. The discussion
          centred on whether Brussels’ two foremost international
          rugby clubs could finally reach an agreement and form one
          cohesive international rugby club that would be an enticing,
          forward thinking, international rugby home for male, female,
          touch and junior rugby players of all standards in Belgium.

      p

        | There had been several attempts to bring the two clubs
          together in the past but differences of opinion meant that
          talks were never conclusive. In June 2014 the members of
          BBRFC and BCRFC finally voted unanimously for the two clubs
          to merge and an extremely promising future beckons.

      p

        | The club runs 3 male XVs teams, a women’s team, a touch
          squad and a rugby school.

      p

        | The club’s 1st XV plays will play the 2014/15 in the
          Belgian National Division 3.

      p

        | We welcome players from anywhere in the world, whether that
          be as close as Belgium or as far as New Zealand.

      p

        ' Should you be interested in joining the club or require
          further information, please do not hesitate to contact

        a href="mailto:joining@bbrfc-celtic.be" joining@bbrfc-celtic.be
