---
layout: section
who: More
headings:
  - The Social Side of Brussels’ Number 1 International Rugby Club!
  - Vice Presidents
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      = create_heading

      p

        | In addition to all things rugby on the pitch, the BBRFC
          Celtic emphasizes a strong social commitment off the
          pitch. We have a dynamic social calendar running throughout
          the year which we feel is an important part of our success
          as a club.

      p

        | Ever since the beginning of BBRFC way back in 1968 or the
          creation of Celtic in 1998 our club has had a vibrant social
          scene not just as far as Belgian & International rugby is
          concerned but, we are also known within the Brussels
          international community at large for our parties and social
          occasions.

      p

        | We have organized a regular End of Season Ball which
          involves gowns and tuxedoes (or dodgy polyester office suits
          and nylon ties for some), aperitifs, live bands, DJs,
          dancing, full buffet dinners, and even once an inflatable
          jousting podium and competition.

      p

        | Both men and women’s sections of the club organize annual
          “rugby” tours and in recent years we have flown or travelled
          en masse to Prague, Stockholm, Cork, Sofia, Tallinn,
          Barcelona, Vienna, Massachusetts & New Hampshire, Provence,
          Bavaria, Catalonia & Aragon, Munster, Lombardy,
          Languedoc-Roussillon, and Andalusia to name but several
          locations. That’s a tour a year and always, of course, to
          somewhere where high culture, history and the odd beverage
          beckons!

      p

        | Then there are the very well attended Christmas events in
          venues often too fancy for our own good and in recent years
          we have even organised our Christmas party on a double
          decker bus and toured the bright lights of Brussels before
          adjourning to one of its best known night spots. These
          degenerate into an all-night frenzy and disconcerting
          display of quivering, spasmodic or swaying and unsteady
          dance moves by pretty much all present.

      p

        | Our season is also interspersed with fund-raising
          pub-quizzes which play host to dubious insider trading of
          the answers to impossibly random and ambiguous questions
          such as: How high is high? Recently it would seem that a
          crack semi-professional team specializing in the esoteric
          arts and erotica and partly made up of now retired rugby
          players has gotten into the habit of winning the top
          prize. Fear not, we have outsmarted them by keeping the best
          prizes for 2nd place and below.

      p

        | Though we have often tried to mask our activities as being
          integral to all-important recruitment drives in truth, once
          embarked upon, our relatively frequent bar-hopping becomes
          quite a shameless opportunity to mix and sample Belgium’s
          unparalleled variety of fine beers. These are also good
          opportunities to verify who can safely handle the local grog
          and who we would be better advised to be felt behind to mop
          up the changing rooms.

      p

        | Added to these myriad activities there are also of course
          the occasional BBQs, squash, go-karting or paintball
          challenges and cultural trips to the Gent Whiskey Festival,
          Antwerp or Munich Beer Festival, etc.

      p

        | Needless to say we also go as often as possible, in
          pioneering groups of three or more, to foreign climes to see
          RBS 6 Nations or Heineken Cup matches as well as, though
          evidently less frequently, World Cup matches. With RWC 2015
          imminent there will be much to look forward to!!


      = create_heading

      p.lead Once a BC, always a BC !

      p

        | Ladies and gentlemen, although you may have retired from
          Rugby, you may have moved out of the country, or perhaps you
          have died, you will always be a BBRFC or Celtic alumni! And,
          as a result, we would like to invite you to become a Vice
          President of BBRFC Celtic! To become a club VP we suggest
          you make a small contribution every season and you will be
          entitled to many benefits, like for example VIP Box seating
          at all home matches and stories about your past prowess
          on-and-off the pitch being duly inflated to the new
          recruits.

      p

        | Plus you can rest in peace with the knowledge that your
          favourite Rugby club and your legacy will live on!
