#calendar.fc-unthemed
  /* general calendar stuff
  .fc-center
    h2
      font-size: 1.4em
      line-height: 1.9em
      font-weight: 300

  td,
  th
    border-color: #888

.panel-calendar-sync
  margin-top: 1em
  border-radius: 0


.container-second
  /* Calendar only in this div!
  #calendar.fc-unthemed
    td,
    th
      border-color: #ddd
    .fc-today
      background-color: $rock-blue


/* Key for the calendar on landing page
@mixin key-bg($color)
  background-color: $color
  text-align: center
  border-radius: 5px

.blue-bg
  +key-bg($full-blue)
.red-bg
  +key-bg($guard-red)
.green-bg
  +key-bg($bc-green)
.purple-bg
  +key-bg(purple)
.orange-bg
  +key-bg($orange-peel)
.same-bg
  +key-bg(inherit)
