nav

  .navbar-header
    .navbar-brand
      /* Nav title
      font-weight: bold
      font-size: 150%

  .navbar-nav
    /* Centers nav collapse only
    text-align: center
    li
      a
        text-transform: uppercase

  .fa.fa-caret-down
    margin-left: 0.3em


/* Navpills
.nav-pills.affix-bottom
  position: absolute
