@import compass/utilities/sprites
@import customVariables

$patrons-sprite-dimensions: true
$patrons-layout: smart
@import 'patrons/*.png'
+all-patrons-sprites

$lines-to-show: 5

.thumbnail
  text-align: center
  button
    margin: 1em
  .patrons
    margin: 0 auto
