@import compass/utilities/sprites
@import customVariables

$patrons-sprite-dimensions: true
$patrons-layout: smart
@import 'patrons/*.png'
+all-patrons-sprites

$lines-to-show: 5

.thumbnail
  p
    display: block
    height: $font-size-base*$line-height-base*$lines-to-show
    overflow: hidden
  .fade-text
    position: absolute
    left: 0
    width: 100%
    padding-top: 2em
    background-image: linear-gradient(to bottom, transparent, white)
  .patrons
    margin: 0 auto
  button
    margin: 1em
