---
layout: section
who: School
headings:
  - Children Safety
  - Equipment
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      p

        | As a parent you will no doubt want your child to enjoy their
          involvement in rugby union in a safe, friendly environment
          where there are opportunities to learn and develop rugby
          skills while also having fun.

      p

        | The enjoyment, safety and education of children in rugby
          union is also vital to the sustainability of the game.
          While rugby has a reputation for being “dangerous” it is a
          surprisingly safe sport.

      p

        | Children are introduced gradually to the sport through a
          system known as “the curriculum”; the process of starting
          young children with a non-contact form of the game, and
          introducing the more physical elements as the children grow
          up, so they don’t have to endure pushing in scrums, tackling
          and jumping in line-outs until they’re much older, and their
          bodies are strong enough.

      p

        | In addition to this, changes have been brought in to make
          the game as safe as possible. Mouth guards are now mandatory
          and many players wear head guards. Coaches are aware of the
          need to make sure that training and matches are tailored to
          the age groups involved and are safe.

      p

        | Whilst particular attention is made to the safety of
          children, this is also an issue that is constantly monitored
          for adults, with rule changes being made where
          necessary. Rugby is played in over 100 countries and is the
          most popular team sport in nations such as Japan, Fiji, and
          Wales. This sport could not be as popular as it is among the
          peoples of so many different cultures if it were so dangerous!
          In fact, the risk of injury in rugby is relatively low
          compared to many other sports.

      = create_heading


      p.lead

        | The following gear is recommended for all BBRFC Celtic
          players.

      p
        strong

          ' Rugby Boots:

        | Only plastic soles please. We use a high tech artificial
          surface on our pitch at the VUB. Metal studs are not
          allowed, as they damage the pitch.

      p
        strong
          ' Rugby Jerseys:

        | For matches and tournaments team shirts will be 
          provided on the day to the U16 and U18. Younger players MUST
          bring their own jersey to matches. Jerseys can be bought from
          <strong>Rugby Store Ixelles</strong> (Avenue de la Couronne 480
          in Ixelles). For training you may wear any jersey you like, but 
          no hoodies!

      p
        strong
          ' Shorts and socks:

        | For matches and tournaments please wear dark blue shorts and
          red & green socks, which you can buy from <strong>Rugby Store 
          Ixelles</strong>.

      p
        strong
          ' Gum shield:

        | Gums shields must be worn, both for training and our matches
          tournaments. You may buy these from any sports shop. Note
          that gum shields must be moulded to the shape of the
          player's mouth (using boiling water), in order to be
          effective. This is quick and easy to do, so please don't
          forget. Instructions usually come with every gum shield.

      p
        strong
          ' Scrum cap:

        | Scrum caps protect the head against possible hits and
          collisions.

      p
        strong
          ' Balls:

        | The school provides all balls for training and matches.
        
      p
        | Please remove jewelry, watches & piercings before playing and 
          do not wear hoodies or anything that could potentially get 
          caught and cause whiplash.
        
      
