---
layout: section
who: School
headings:
  - Welcome to the BBRFC Celtic rugby school! <i class="fa fa-graduation-cap"></i>
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      p

         | Our Rugby school was established over 10 years ago, with
           the objective of providing a safe and fun environment for
           learning to play rugby, right in the heart of Brussels.

      p

        | We field teams in all age grades from under 6 all the way
          through to under 18s, with the players transitioning to our
          Youth Development section from U16.

      p

        | Up to the U12s the teams compete in regular tournaments with
          clubs from all over Belgium, while the U14s, 16s and 18s
          participate in national leagues. We also regularly host
          touring international sides.

      p

        | Our players come from all corners of the world, with many
          from the Celtic nations, the UK, Belgium, France, Italy and
          the Netherlands, but also representatives from North
          America, South Africa, Japan, Australia and more. We train
          our players primarily in English though Dutch and French are
          also used as soon as a few frowns of incomprehension appear
          on the faces of our many non-Anglophone club members.

      p

        | We play on a state of the art pitch on the VUB campus in
          Ixelles. Generally speaking the teams up to U12 train at the
          VUB every Saturday, from 10 to 12, while participating in
          tournaments approximately once a month.

      p

        | The U14 to U18 teams complete in national leagues and play a
          match most weekends. All teams from U10 and older have
          training on Wednesday evening at the VUB, from 6 to 8pm.

      p

        | Please refer to the Teams page or the school calender for
          more information on where and when to find our teams

      p

        | If you would like to give us a try just turn up to any of
          our training sessions -- see events list below - and
          introduce yourself to the coaches present. All you need to
          try out is a pair of rugby boots or trainers, shorts and a
          T-Shirt or jersey. Note that because we play on a high tech
          artificial pitch only plastic studs may be used (no metal
          studs).

      p

        | The first three training sessions are free, so why not drop
          in & give us a go? Chances are you'll be back......
