---
layout: section
who: Anniversary
headings:
  - The 50th and 20th anniversary of the Brussels Barbarians Celtics Rugby Club!
  - Planning
  - Contact
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      = create_heading

      p

        | As to what makes rugby so fantastic, next to all the things
          on the pitch, the BBRFC Celtic emphasizes a strong social
          commitment off the pitch. We have a dynamic social calendar
          running throughout the year which we feel is an important
          part of our success as a club.

      p

        | Ever since the beginning of BBRFC way back in 1968 or the
          creation of Celtic in 1998 our club has had a vibrant social
          scene not just as far as Belgian & International rugby is
          concerned but, we are also known within the Brussels
          international community at large for our parties and social
          occasions.

      p

        | We open the season with the Captain’s Cocktail, in which the
          skippers of all our squats are cheering to their teammates and deliver
          Braveheart-like speeches to their troops. The last years we have even
          celebrated on an actual boat, the best ambience for pirates and
          sailors to salute the men and women in charge – aye, aye BBRFC
          Captains!

      p

        | As Brussels’ biggest expats club, we attract interest of
          ever more players, often coming to Belgium for the first
          time, as trainees, students or just starting their work in
          the European Institutions or elsewhere. We organise through
          the season small and big events to integrate new players to
          our Club and introduce them to our Rugby banter. Frequent
          bar- hopping becomes quite a shameless opportunity for us to
          mix and sample Belgium’s unparalleled variety of fine beers,
          whilst showing the newbies those restaurant that serve à la
          volonté of course. We believe that a good social glue
          between the teammates will pay out at the pitch.


      p

        | Our Clubhouse, the Ruck ‘n Maul is the social heart of the
          BBRFC Celtic. Here is where we go after training and matches
          to enjoy food and beverages. The pub has witnessed many
          legendary 3rd half times, spooky Halloween and nutty
          Carnival Parties, endless beer-pong games and not to forget
          about the infamous Tabasco-Tradition. European Cup, 6
          Nations and the Rugby World Cup are watched best here with
          your Rugby mates and a cold pint in your hand.

      p

        | Then there are the very well attended Christmas events in
          venues often too fancy for our own good and in recent years
          we have even hosted our Christmas party on a double decker
          bus and toured the bright lights of Brussels before
          adjourning to one of its best known night spots. These
          degenerate into an all-night frenzy and disconcerting
          display of quivering, spasmodic or swaying and unsteady
          dance moves by pretty much all present.

      p

        | Touch, men and women’s sections of the club organize annual
          “rugby” tours and in recent years we have flown or travelled
          en masse to Prague, Budapest, Stockholm, Cork, Sofia,
          Tallinn, Barcelona, Vienna, Massachusetts & New Hampshire,
          Provence, Bavaria, Catalonia & Aragon, Munster, Lombardy,
          Languedoc-Roussillon, and Andalusia to name but several
          locations. That’s a tour a year and always, of course, to
          somewhere where high culture, history and the odd beverage
          beckons!

      p

        | Even after season, a jolly bunch of players is always out
          there to visit the many Beach Rugby tourneys in Europe or to
          just lit a BBQ. So be very welcome to discover the BBRFC
          Celtic from the social side of life.

      = create_heading

      p.lead Once a BC, always a BC !

      p

        | Ladies and gentlemen, although you may have retired from
          Rugby, you may have moved out of the country, or perhaps you
          have died, you will always be a BBRFC or Celtic alumni! And,
          as a result, we would like to invite you to become a Vice
          President of BBRFC Celtic! To become a club VP we suggest
          you make a small contribution every season and you will be
          entitled to many benefits, like for example VIP Box seating
          at all home matches and stories about your past prowess
          on-and-off the pitch being duly inflated to the new
          recruits.

      p

        | Plus you can rest in peace with the knowledge that your
          favourite Rugby club and your legacy will live on!
