---
layout: section
who: More
headings:
  - The History of BBRFC
---

= partial "components/nav"

.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12

      = create_heading

      p

        | In September 1968 a group of expatriate British Rugby
          players decided to form a club in order to continue playing
          the sport in the manner in which they were accustomed back
          home, especially the well-known after the match social
          aspects.

      p

        | Over the next few years things developed rapidly. In 1970,
          the Second XV was born, by 1972 the Belgian National side
          had been beaten and the Belgian Cup won. In 1973, the Third
          XV was launched and with a steadily improving fixture list
          we were playing with credit such sides as Coventry,
          Blackheath, Newbridge and Public School Wanderers. In 1974
          the Belgian Cup was won again. This halcyon period continued
          unabated through to the club's very successful tour of the
          USA in May 1978, when we played seven matches and the First
          XV remained unbeaten against the best sides on the East
          Coast.

      p

        | Since 1978 the club has continued to remain one of the most
          active and successful expatriate clubs in Europe. During
          this latter period the standard of Belgian Rugby and the
          number of clubs has increased significantly. In 1982 we won
          the Belgian Cup for the third time and finished off with a
          successful tour to Canada. In 1980 we entered the Belgian
          League division Five. During the following years we worked
          our way through the divisions gaining promotion in
          successive seasons and took the championship of the Premier
          Division at our first attempt in 1985. At the end of that
          season we celebrated with our third major tour, this time to
          Colorado, USA. Whilst since then we have failed to emanate
          winning the championship, we have had successful tours to
          USA (Boston), Spain (thrice), Czechoslovakia (twice),
          Ireland, Estonia, Bulgaria, Greece, Portugal.

      p

        | The club has also organised International Charity Rugby
          Matches in 1986-87-90-91 which brought to Belgium many of
          the most famous Rugby players of the 1970s and early 1980's
          from the Five Nations to play against a Belgian Select side,
          which at the same time raised over €60,000 for various
          deserving charities.

      p

        | Whilst the majority of players traditionally came from Great
          Britain and Ireland, there have nearly always been members
          from Australia, New Zealand, South Africa, USA plus other
          neighbouring European countries. In the 1980s we had all
          three of the Western Samoan's Ambassador's sons playing for
          us, the oldest Vince Fepuleia going on to play for Western
          Samoa against Wales at Cardiff Arms Park in 1988. Several
          times we have fielded a first XV with players from 11
          different countries, probably a world record! In our 45
          years history we have had members from over 47 different
          countries. In 2000 we changed the name from "British" to
          "Barbarians", remaining BBRFC, thus reflecting the wide
          membership base, but still staying an English speaking club
          welcoming players of any nationality, and always having a
          few Belgian players in our membership. Indeed we are very
          proud that one of our Belgian members and a former player,
          Freddy Thielemans, was, until recently, the long-serving
          Mayor of Brussels.

      p

        | Since 1995 we have also successfully run a Ladies XV,
          becoming Belgian Champions in 2006. Since 2005 we have also
          been an international partner club of English Premiership
          side Saracens FC.

      p

        | In May 2008 we had the honour of hosting a training session
          and dinner for The "Barbarian FC" in advance of their match
          against Belgium. One of our members Mat Hocken, a former
          Cambridge Blue and New Zealand U-21 player was part of that
          Belgian team, and subsequently in November that year was
          invited to play for the Barbarians in their annual fixture
          against the United Services in Plymouth, England.

      p

        | With the advent of the recessionary times of those past
          years the playing strength of the club took a bit of a hit,
          a reflection that companies employed less expats than in
          former times. Hence the team was left out with only one
          senior mens team and one ladies team, with the mens team
          playing in the Flemish Regional League (fourth level of
          Belgian Rugby). The aim was therefore to return to the
          national leagues and turn out a regular second team.

      p

        | Further our symbol, the Manneken-Pis with a Rugby ball under
          his arm is a unique and now famous emblem amongst world
          Rugby clubs. We hope in our own special way that BBRFC has
          helped raise the standard of Belgian Rugby over the years,
          plus publicising the game both here and abroad.

      p

        | Indeed we are confidently look forward to celebrating the
          club's 50th anniversary in 2018 in style both on and of the
          pitch.
